<% provide(:title, "| #{@user.name}") %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
			<%= render 'profile_info' %>
    </section>
		<section>
			<% if @user.book_posts.any? %>
				<h3>Books</h3>
				<ol class='microposts'>
					<%= render @book_posts %>
				</ol>
			<% end %>
		</section>
  </aside>

	<div class='span8'>
		<% if @user.book_bites.any? %>
			<h3>Book Bites (<%= @user.book_bites.count %>)</h3>
			<ol class='microposts'>
				<%= render @book_bites %>
			</ol>
			<%= will_paginate @book_bites %>
		<% end %>
	</div>
</div>