<li id="<%= feed_item.id %>">
	<span class='user'>
		<%= link_to feed_item.user.name, feed_item.user %>
	</span>
	<span class='content'>
		<!--List all of your book posts.-->
		<b><%= feed_item.title.upcase %></b>
		<br>				
		<% if feed_item.subtitle %>
			<%= feed_item.subtitle %>
			<br/>
		<% end %>	
		<% if feed_item.genre %>
			<%= feed_item.genre %>
			<br/>
		<% end %>
		<%= feed_item.summary %>
	</span>	
	<span class='timestamp'>
		Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
	</span>	
	<% if current_user?(feed_item.user) %>
		<%= link_to "Delete", feed_item, method:  :delete,
	                                   confirm: "Sure about that?",
	                                   title:   feed_item.title %>
  <% end %>
</li>